<footer class="footer pt-1 my-md-1 pt-md-1">
  <div class="container border-top">
    <div class="row">
      <div class="col-md-5 text-left">
        <a href="https://www.usgs.gov/" title="USGS" target="_blank">
          <img class="usgs-logo" src="{{ url_for('static', filename='img/usgs.png') }}" alt="USGS" >
        </a>
      </div>
      <div class="col-md-5 text-right" >
        <span class="">
          <a class="text-muted mr-3" href="{{ url_for('about') }}">About</a>
          <a class="text-muted" href="{{ url_for('contact') }}">Contact</a>
        </span>
        </a>
      </div>
    </div>
  </div>
</footer>
