{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block content %}
<div class="container">
  <h1 class="container text-center mt-5 pt-5">Resources</h1>
  <br>
  <div class="container">
  <p class="lead">Resources from USGS - Office of Science Quality and Integrity</p>
    <ul>
      <li><a href="https://pubs.usgs.gov/of/2013/1265/">USGS Science Data Lifecycle Model</a></li>
      <li><a href="https://www.usgs.gov/products/data-and-tools/data-management/">USGS Data Management Website</a></li>
      <li><a href="https://www.usgs.gov/about/organization/science-support/science-quality-and-integrity/fundamental-science-practices">FSP Policies</a></li>
      <li><a href="https://pubs.er.usgs.gov/publication/ofr20161202">Policies and practices for publishing data on ScienceBase </a></li>
      <li><a href="https://www.usgs.gov/core-science-systems/science-analytics-and-synthesis/data-release-workbench">USGS Data Release Workbench</a></li>
    </ul>
  </div>
</div>

{% endblock %}
