{% extends "base.html" %}

{% block title %}{{ NationalRequired.slug }}{% endblock %}

{% block content_title %}{{ NationalRequired.slug }}{% endblock %}



{% block content %}
<main>
  <div class="container pt-5">
      <div class="row pt-5">
      <!-- sidebar -->
      <div class="col-sm-3">
        <nav id="toc" data-toggle="toc" class="sticky-top">
          <h5 class="text-muted">Table of Contents</h5>
        </nav>
        <br>
          <a><a href="{{ url_for('National.edit', slug=NationalRequired.slug) }}">Edit</a></p>
      </div>
        <!-- main -->
     <div class="col-lg">
         <h1>QAP Master Template</h1>
        <h2><label>Introduction</label></h2>
    {{  NationalRequired.intro | safe }}
         <h2><label>Scope</label></h2>
    {{  NationalRequired.scope | safe }}
         <h2><label>Organization</label></h2>
    {{  NationalRequired.org  | safe}}
         <h2><label>Responsibilities</label></h2>
    {{  NationalRequired.resp  | safe }}
     </div>
      </div>
  </div>


</main>
{% endblock %}